# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
.flutter-plugins-dependencies
.flutter-plugins

# ---------------------------------------------------------------------------- #
#                                    Custom                                    #
# ---------------------------------------------------------------------------- #

# Some generated Flutter engine files keep getting added to git.
generated*

# Test coverage report.
coverage/
